DATABASE_URL=postgresql://postgres:dbname_2026@localhost:5432/linktab
NUXT_SITE_TOKEN=syano@000
NUXT_SITE_USER=root
NUXT_REDIRECT_STATUS_CODE=301
NUXT_REDIRECT_WITH_QUERY=false
NUXT_HOME_URL=
NUXT_CASE_SENSITIVE=false
NUXT_NOT_FOUND_REDIRECT=
NUXT_PUBLIC_SLUG_DEFAULT_LENGTH=4
NUXT_PUBLIC_PREVIEW_MODE=

